@model IEnumerable<KickAround.Models.ViewModels.Groups.GroupViewModel>

@{
    ViewBag.Title = "All";
}

<h2>Groups</h2>

@if (!Model.Any())
{
    <div class="text-center">
        <h1 class="text-warning">
            You don't have any groups! Please,
            <small>@Html.ActionLink("search", "Search")</small> for a group to join or
            <small>@Html.ActionLink("create", "Create")</small> a new one.
        </h1>
    </div>
}

@if (Model.Any())
{
    <p>
        @Html.ActionLink("Search", "Search", null, new { @class = "btn btn-primary", @role = "button" })
        @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary", @role = "button" })
    </p>

    <br/>
    <h4>Groups Joined</h4>

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumberOfPlayers)
            </th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.ActionLink($"{item.Name}", "Details", new { id = item.Id })
                </td>
                <td>
                    @Html.DisplayName(item.Sport.ToString())
                </td>
                <td>
                    @Html.DisplayName(item.NumberOfPlayers.ToString())
                </td>
            </tr>
        }

    </table>
}